.tbl1{
    margin-top: 2%;
    margin-left: 2%;
}

.tblbtn{
    margin-left: 2%;
}

.tbl2{
    margin-top: -48%;
    margin-right: 30%;
}

.tblpst{
    margin-right: 30%;
}

.tbl3{
    margin-top: -52%;
}

.tbl4{
    margin-top: -50%;
}

.tbl5{
    margin-top: -48%;
}

.tbc{
    background-color: blue;
}

.btn1{
    background-color: whitesmoke;
}